@{
    ViewBag.Title = "Unstoppable";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="baihat">
        <div class="baihat-info-1">
            <div class="baihat-info-detail">
                <div class="baihat-detail-1">
                    <div>
                        <img src="~/Theme/images/Sia-Unstoppable.jpg" width="100%">
                        <div class="baihat-detail-main">
                            <p>
                                Ca sỹ: <span class="baihat-info-strongword">Sia</span>
                            </p>
                            <p>
                                Nhạc sỹ: <span class="baihat-info-strongword">Sia</span>
                            </p>
                            <p>
                                Năm phát hành: <span class="baihat-info-strongword">2020</span>
                            </p>
                        </div>
                    </div>
                    <div class="baihat-option">
                        <p class="btn-baihat">
                            Tải xuống <span><i class="fa-solid fa-download"></i></span>
                        </p>
                        <p class="btn-baihat">
                            Chia sẻ <span><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>
                <div class="baihat-detail-2">
                    <p class="baihat-tittle">
                        Unstoppable
                    </p>
                    <div class="baihat-lyric">
                        <p>
                            [Verse 1]<br>
                            I'll smile, I know what it takes to fool this town<br>
                            I'll do it 'til the sun goes down and all through the night time<br>
                            Oh, yeah<br>
                            Oh, yeah, I'll tell you what you wanna hear<br>
                            Keep my sunglasses on while I shed a tear<br>
                            It's never the right time, yeah<br>
                        </p>
                        <p>
                            [Pre-Chorus]<br>
                            I put my armor on, show you how strong I am<br>
                            I put my armor on, I'll show you that I am<br>
                        </p>
                        <p>
                            Xem thêm
                        </p>
                    </div>
                </div>
            </div>
            <div class="baihat-toplist">
                <div class="baihat-tittle">
                    Top bài hát của <span>Sia</span>
                </div>
                <div class="result-baihat-detail">
                    <div class="result-baihat-img-name">
                        <img src="~/Theme/images/Sia-Chandelier.jpg" width="110px">
                        <div class="result-baihat-img-name-detail">
                            <p class="result-baihat-name">
                                Chandelier
                            </p>
                            <p class="result-baihat-name-other">
                                Sia
                            </p>
                            <p class="result-baihat-luotnghe">
                                1,834,908,285 lượt nghe
                            </p>
                        </div>
                    </div>
                    <div class="result-baihat-album">
                        <p>
                            Chandelier ver.2
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div id="song-1" class="icons">
                            <span class="middle none " onclick="addFavorite(this)"><i class="fa-regular fa-heart "></i></span>
                            <span class="middle" onclick="removeFavorite(this)"><i class="fa-solid fa-heart"></i></span>
                            <span class="middle thoiluong">00:11</span>
                            <span class="middle"><i class="fa-solid fa-download"></i></span>
                            <span class="middle"><i class="fa-solid fa-ellipsis"></i></span>
                        </div>
                    </div>
                </div>
                <div class="result-baihat-detail">
                    <div class="result-baihat-img-name">
                        <img src="~/Theme/images/Sia-CheapThrills.jpg" width="110px">
                        <div class="result-baihat-img-name-detail">
                            <p class="result-baihat-name">
                                Cheap Thrills
                            </p>
                            <p class="result-baihat-name-other">
                                Sia
                            </p>
                            <p class="result-baihat-luotnghe">
                                853,973,762 lượt nghe
                            </p>
                        </div>
                    </div>
                    <div class="result-baihat-album">
                        <p>
                            Cheap Thrills ver.2
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div id="song-1" class="icons">
                            <span class="middle none " onclick="addFavorite(this)"><i class="fa-regular fa-heart "></i></span>
                            <span class="middle" onclick="removeFavorite(this)"><i class="fa-solid fa-heart"></i></span>
                            <span class="middle thoiluong">00:11</span>
                            <span class="middle"><i class="fa-solid fa-download"></i></span>
                            <span class="middle"><i class="fa-solid fa-ellipsis"></i></span>
                        </div>
                    </div>
                </div>
                <div class="result-baihat-detail">
                    <div class="result-baihat-img-name">
                        <img src="https://i1.sndcdn.com/artworks-000192093512-ur5rts-t500x500.jpg" width="110px">
                        <div class="result-baihat-img-name-detail">
                            <p class="result-baihat-name">
                                The Greatest
                            </p>
                            <p class="result-baihat-name-other">
                                Sia
                            </p>
                            <p class="result-baihat-luotnghe">
                                772,135,762 lượt nghe
                            </p>
                        </div>
                    </div>
                    <div class="result-baihat-album">
                        <p>
                            Cố giang tình ver.2
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div id="song-1" class="icons">
                            <span class="middle none " onclick="addFavorite(this)"><i class="fa-regular fa-heart "></i></span>
                            <span class="middle" onclick="removeFavorite(this)"><i class="fa-solid fa-heart"></i></span>
                            <span class="middle thoiluong">00:11</span>
                            <span class="middle"><i class="fa-solid fa-download"></i></span>
                            <span class="middle"><i class="fa-solid fa-ellipsis"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="baihat-info-2">
            <div class="tuongtac-item">
                <p class="baihat-tuongtac">
                    Lượt nghe
                </p>
                <p class="baihat-tuongtac-data">
                    937,810,094
                </p>
                <p class="baihat-tuongtac-btn">
                    Phát nhạc
                </p>
            </div>
            <div class="tuongtac-item">
                <p class="baihat-tuongtac">
                    Lượt yêu thích
                </p>
                <p class="baihat-tuongtac-data">
                    9,327
                </p>
                <p class="baihat-tuongtac-btn">
                    Yêu thích
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="result-subject">
            <p class="subject">
                US - UK
            </p>
            <p class="tatca">
                <span>Tất cả &nbsp;<i class="arrow glyphicon glyphicon-chevron-right"></i></span>
            </p>
        </div>
        <div class="result-album-content">
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Bảng xếp hạng US - UK
                    </p>
                </div>
            </div>
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Top bài hát US-UK mới nhất
                    </p>
                </div>
            </div>
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Những album US-UK khác
                    </p>
                </div>
            </div>
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Những album US-UK khác
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

