@{
    ViewBag.Title = "Đang phát Chandelier";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Theme/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/Styles/general.css" rel="stylesheet">
    <link href="~/Theme/Styles/phatnhac.css" rel="stylesheet">

    <link href="~/Theme/Styles/icon-font.css" rel="stylesheet" />
        <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Theme/Scripts/phatnhac.js" defer></script>

</head>
<body class="body-trangphatnhac">
    <div id="lyric-more" class="lyric-background-hidden">
        <div class="play-bar">
            <div class="playbar-info">
                <img src="https://i.pinimg.com/736x/c2/f7/88/c2f788197471e6596e94ac1f1df1cf37.jpg" width="23%">
                <div>
                    <p class="playbar-song-name">Chanderlier</p>
                    <p class="playbar-song-artist">Sia</p>
                </div>
                <div class="playbar-info-more">
                    <span id="icon-heart" class="icon-main">
                        <i class="fa-regular fa-heart"></i>
                    </span>

                    <div class="dropup">
                        <button class="dropbtn">
                            <span id="icon-option" class="icon-main">
                                <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </button>
                        <div class="dropup-content">
                            <a href="#">Tải xuống</a>
                            <a href="#">Thêm vào playlist</a>
                            <a href="#">Khác</a>
                        </div>
                    </div>
                </div>
            </div>

            <audio src="http://www.w3schools.com/html/horse.mp3" crossOrigin="anonymous" id="song"></audio>

            <div class="playbar-play">
                <div class="playbar-play-item">
                    <ion-icon name="shuffle-outline" class="play-random"></ion-icon>
                    <div class="playbar-play-detail">
                        <ion-icon name="play-back" class="play-back"></ion-icon>
                        <div class="play">
                            <div class="player-inner">
                                <ion-icon name="play" class="play-icon"></ion-icon>
                            </div>
                        </div>
                        <ion-icon name="play-forward" class="play-forward"></ion-icon>
                    </div>

                    <ion-icon name="repeat-outline" class="play-repeat"></ion-icon>
                </div>


                <div class="range-container">
                    <input type="range" name="range" id="range" class="range" />
                    <div class="timer">
                        <div class="remaining">-3:10</div>
                        <div class="duration">2:10</div>
                    </div>
                </div>
            </div>
            <div class="playbar-option">
                <a><i class="fa-solid fa-volume-high black-icon"></i></a>
                <div class="progress progress-trangphatnhac progress-sound">
                    <div class="progress-bar progress-bar-trangphatnhac" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <a><i class="fa-solid fa-music black-icon" id="icon-lyric"></i></a>
                <a><i class="fa-solid fa-list black-icon"></i></a>
            </div>
            <div class="playbar-expand">
                <!-- Expand -->
                <!-- <i class="fa-solid fa-maximize"></i> -->
                <!-- Collapse -->
                <a href="/user/baihat/index"><i class="fa-solid fa-minimize black-icon " id="icon-expand"></i></a>
            </div>
        </div>
        <div class="lyric-detail-hidden" id="lyric">
            <p>
                [Verse 1]<br>
                Party girls don't get hurt<br>
                Can't feel anything, when will I learn?<br>
                I push it down, push it down<br>
                I'm the one "for a good time call"<br>
                Phone's blowin' up, ringin' my doorbell<br>
                I feel the love, feel the love<br>
            </p>

            <p>
                [Pre-Chorus]<br>
                One, two, three, one, two, three, drink<br>
                One, two, three, one, two, three, drink<br>
                One, two, three, one, two, three, drink<br>
                Throw 'em back till I lose count<br>
            </p>

            <p>
                [Chorus]<br>
                I'm gonna swing from the chandelier<br>
                From the chandelier<br>
                I'm gonna live like tomorrow doesn't exist<br>
                Like it doesn't exist<br>
                I'm gonna fly like a bird through the night<br>
                Feel my tears as they dry<br>
                I'm gonna swing from the chandelier<br>
                From the chandelier<br>
            </p>

            <p>
                [Post-Chorus]<br>
                But I'm holding on for dear life<br>
                Won't look down, won't open my eyes<br>
                Keep my glass full until morning light<br>
                'Cause I'm just holding on for tonight<br>
                Help me, I'm holding on for dear life<br>
                Won't look down, won't open my eyes<br>
                Keep my glass full until morning light<br>
                'Cause I'm just holding on for tonight<br>
                On for tonight
            </p>

            <p>
                [Verse 2]<br>
                Sun is up, I'm a mess<br>
                Gotta get out now, gotta run from this<br>
                Here comes the shame, here comes the shame<br>
            </p>
        </div>
    </div>
</body>
</html>