@{
    ViewBag.Title = "Tìm kiếm";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-Timkiem">
        <div class="container-Timkiem-item1">
            <div class="nav-search-filter">
                <div>
                    <span class="nav-search-subject">
                        Kết quả tìm kiếm
                    </span>
                    <span>
                        |
                    </span>
                </div>
                <div>
                    <a href="/User/Timkiem/Index">Tất cả</a>
                </div>
                <div>
                    <a href="/User/Timkiem/Timkiem_Baihat">Bài hát</a>
                </div>
                <div>
                    <a href="/User/Timkiem/Timkiem_Playlist_Album">Playlist/Album</a>
                </div>
                <div class="nav-search-selected">
                    <a href="/User/Timkiem/Timkiem_CaSy">Ca sỹ</a>
                </div>
                @*<div>
                <a href="~/Search/Search_NhacSy">Nhạc sỹ</a>
                </div>*@
            </div>
            <hr>
            <div class="search-result">
                <div class="search-result-wrap">
                    <div class="result-other-detail">
                        <img src="~/Theme/images/nghesi_X2X.png" width="150px">
                        <p class="result-nghesy-name">
                            X2X
                        </p>
                        <p class="result-nghesy-quantam">
                            48 quan tâm
                        </p>
                        <p id="btn-quantam" class="quantam-btn">
                            Quan tâm &nbsp;<span><i class="fa-solid fa-user-plus"></i></span>
                        </p>
                    </div>
                    <div class="result-other-detail">
                        <img src="~/Theme/images/nghesi_X2X.png" width="150px">
                        <p class="result-nghesy-name">
                            X2X
                        </p>
                        <p class="result-nghesy-quantam">
                            48 quan tâm
                        </p>
                        <p id="btn-quantam" class="quantam-btn-selected">
                            Nghe nhạc &nbsp;<span><i class="fa-solid fa-music"></i></span>
                        </p>
                    </div>
                    <div class="result-other-detail">
                        <img src="~/Theme/images/nghesi_X2X.png" width="150px">
                        <p class="result-nghesy-name">
                            X2X
                        </p>
                        <p class="result-nghesy-quantam">
                            48 quan tâm
                        </p>
                        <p id="btn-quantam" class="quantam-btn">
                            Quan tâm &nbsp;<span><i class="fa-solid fa-user-plus"></i></span>
                        </p>
                    </div>
                    <div class="result-other-detail">
                        <img src="~/Theme/images/nghesi_X2X.png" width="150px">
                        <p class="result-nghesy-name">
                            X2X
                        </p>
                        <p class="result-nghesy-quantam">
                            48 quan tâm
                        </p>
                        <p id="btn-quantam" class="quantam-btn">
                            Quan tâm &nbsp;<span><i class="fa-solid fa-user-plus"></i></span>
                        </p>
                    </div>
                    <div class="result-other-detail">
                        <img src="~/Theme/images/nghesi_X2X.png" width="150px">
                        <p class="result-nghesy-name">
                            X2X
                        </p>
                        <p class="result-nghesy-quantam">
                            48 quan tâm
                        </p>
                        <p id="btn-quantam" class="quantam-btn-selected">
                            Nghe nhạc &nbsp;<span><i class="fa-solid fa-music"></i></span>
                        </p>
                    </div>
                    <div class="result-other-detail">
                        <img src="~/Theme/images/nghesi_X2X.png" width="150px">
                        <p class="result-nghesy-name">
                            X2X
                        </p>
                        <p class="result-nghesy-quantam">
                            48 quan tâm
                        </p>
                        <p id="btn-quantam" class="quantam-btn">
                            Quan tâm &nbsp;<span><i class="fa-solid fa-user-plus"></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-Timkiem-item2">
            <div class="ChuDe-subject">
                Chủ đề
            </div>
            <div class="ChuDe-content ChuDe-content-item1">
                <span class="ChuDe-detail">
                    ROMANCE
                </span>
            </div>
            <div class="ChuDe-content ChuDe-content-item2">
                <span class="ChuDe-detail">
                    DANCE
                </span>
            </div>
            <div class="ChuDe-content ChuDe-content-item3">
                <span class="ChuDe-detail">
                    SLEEP
                </span>
            </div>
            <div class="ChuDe-content ChuDe-content-item4">
                <span class="ChuDe-detail">
                    CHILDREN
                </span>
            </div>
            <div class="ChuDe-content ChuDe-content-item5">
                <span class="ChuDe-detail">
                    OTHER
                </span>
            </div>
            <div class="ChuDe-subject">
                Quốc gia
            </div>
            <div class="quocgia-content">
                <ul>
                    <li class="quocgia-content-item">
                        V-Pop
                    </li>
                    <li class="quocgia-content-item">
                        K-Pop
                    </li>
                    <li class="quocgia-content-item">
                        Trung Hoa
                    </li>
                    <li class="quocgia-content-item">
                        US - UK
                    </li>
                </ul>
            </div>
        </div>
    </div>

